body{
  height: 100%; /** Michael and Gabriel change the height to 100% to ensure uniform gradient and set background to no repeat**/
  background-color: #EC2D01; 
  background-image: linear-gradient(to bottom right, #EC2D01,#FFAB0F,#FFF600);
  background-repeat: no-repeat;
}
#main h1{
  text-align: center;
  font-family: 'Calligraffitti', cursive;
  font-weight: 900;
  margin-top: 50px;
}
#main h3{
  text-align: center;
}
#gallery{
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  background-color: #ffcc00;
  margin-right: 0%;
}

#gallery h1{
  font-family: 'Calligraffitti', cursive;
  font-weight: 500;
  margin-top: 50px;
  
}
#top{
  width:1270px;
  
}
#colEvents img{
  width: 250px;
  height: 250px;
  margin-top: 20px;
  padding: 20px;
  
}
.myRowEvents{
  float: left;
  width: 50%;
  
}
.myRowEvents2{
  float: right;
  width: 50%;
  padding-left: 20px;
  padding-top: 50px;

}
#colEvents h4{
  margin-top: 20px;
  background-color:#FFAB0F;

}
#contacts{
  border-top: 1px solid black;
  margin-top: 300px;
  background-color: #ffcc00;
}

#socialMediaLinks{
  text-align: center;
  margin-top: 50px;
}
#bookingsContact{
  float: right;
  position: relative;
  bottom: 180px;
}
#complaintsContact{
  position: relative;
  bottom: 70px;
}
#copyright{
  text-align: center;
  clear: both;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:coral;
  border-radius: 50%;
  display: inline-block;
  transition:background-color 0.5s ease;
}
.number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
#dot{
  text-align: center;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.active {
  background-color:white;
}
#one:hover{
  transform:scale(1.3);
  
}
#two:hover{
  transform:scale(1.3);
  
}
#three:hover{
  transform:scale(1.3);
  
}
#four:hover{
  transform:scale(1.3);
  
}
#oneDescription{
 box-sizing: border-box;
 background-color: blanchedalmond;
 height: 120px;
 width: 300px;
 justify-content: center;
 text-align: center;
 border-radius: 5px;
 position: relative;
 left: 300px;
 bottom: 170px;
 display: none;
 padding:10px;
}


.two p{
  box-sizing: border-box;
  background-color: blanchedalmond;
  height: 120px;
  width: 300px;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  position: relative;
  left: 300px;
  bottom: 170px; 
  display: none;
  padding:10px;
}
.three p{
  box-sizing: border-box;
 background-color: blanchedalmond;
 height: 120px;
 width: 300px;
 justify-content: center;
 text-align: center;
 border-radius: 5px;
 position: relative;
 left: 300px;
 bottom: 170px;
 display: none;
 padding:10px;
}
.four p{
  box-sizing: border-box;
 background-color: blanchedalmond;
 height: 120px;
 width: 300px;
 justify-content: center;
 text-align: center;
 border-radius: 5px;
 position: relative;
 left: 300px;
 bottom: 170px;
 display: none;
 padding:10px;
}
.bg-white {
	background-color: #FFF;
	margin: 10px 0;
	padding: 5px;
}
.header {
	background-color: #F0F0F0;
	margin-bottom: 20px;
	box-shadow: 5px 10px 50px;
}
.content-bar {
	padding: 100px;
}
.minHead {
	background-color: #F0F0F0;
	display: flex;
	padding: 7px;
	padding-top: 10px;
	border-top: 2px solid rgb(219, 210, 210);
	border-bottom: 2px solid rgb(88, 87, 87);
}
.detail {
	color: #6b160b;
	font-style: italic;
	font-weight: 900;
}
.cart {
	display: flex;
	padding-top: 10px;
}
.ticket-delivery {
	display: flex;
}
.sumTotal {
	display: flex;
}
#home{
  margin-left: 10px;
}
#desc{
  margin-top: 40px;
}
#bookTickets{
  text-align: center;
}
.ticket-delivery{
  display: none;

}



